@import "vars"

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    .logo
        background-repeat: no-repeat
        background-size: 350px
        background-position: center
        height: 350px
    .blog-header-logo 
        width: 300px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
    body
        &.ishome
            .main-page
                background-image: none !important
    .hamburger
        position: absolute
    .logo
        margin-top: 50px
        background-repeat: no-repeat
        background-size: 250px
        background-position: center
        height: 250px
    .mm-navbar
        height: 120px
        position: relative
        border-bottom: 0       
        .mm-navbar__title img
            width: 310px
            height: auto
    .header-socials
        display: none
    .page_previous, .page_next
        display: none
    .blog-header-logo img 
        margin-top: 30px
        width: 250px
    .button
        margin-bottom: 20px
@media only screen and (max-width : 576px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/