@import vars
@import fonts
@import libs

// Основные настройки страницы
::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

*
	margin: 0
	padding: 0

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

a
	text-decoration: none
	color: #FFFFFF
// Пользовательский CSS
// Index.html
section, header
	position: relative
	background-size: cover
	background-position: center

body
	font-size: 16px
	//min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	color: $text
	&.ishome
		.main-page
			//background: url('../img/_src/background.svg')
			background-repeat: repeat-y //no-repeat
			min-height: 100vh
			//height: 100vh
			background-color: $dark
			position: relative
			background-size: 100%
			background-position: center
			.top-line
				padding-top: 40px
				position: absolute
				width: 100%
				z-index: 3

// Меню
.hamburger
	right: 0
	position: fixed
	top: 34px
	z-index: 2
	.hamburger-box
		width: 34px
		.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
			border-radius: 0
			color: #FFFFFF
			background-color: #FFFFFF
			width: 34px
			height: 2px

.mm-navbar
	height: 120px
	position: relative
	border-bottom: 0
	.mm-navbar__title img
		width: 380px
		height: auto

.mm-listview
	hr
		margin-top: 15px
		margin-bottom: 15px

.mm-listitem	
	&:after
		display: none

.mm-listitem 
	> a
		text-align: center
		transition: color .25s ease
		font-size: 16pt
		font-family: Bradobrei
		padding: 
			top: 5px
		&:hover
			color: #FFFFFF
		&::before
			content: "\f3b5"
			font-family: 'Line Awesome Brands'
			margin-right: 8px
			font-size: 20pt
			color: #FFFFFF
		&::after
			content: "\f3b5"
			font-family: 'Line Awesome Brands'
			margin-left: 8px
			font-size: 20pt	
			color: #FFFFFF
	&.active
		&>a
			color: #FFFFFF

.mm-listitem_selected
	color: #FFFFFF
	.mm-listitem__text
		background-color: transparent

// Контент на главной странице
.h1, .h2, .h3, .h4, .h5, .h6
	line-height: 1.4
	text-transform: uppercase

.button
	display: inline-block
	border: none
	color: $blackColor
	text-decoration: none
	background-color: #d5d5d5
	margin: auto
	padding: 15px 45px
	font-size: 13px
	font-family: Roboto
	font-weight: 800
	text-transform: uppercase
	letter-spacing: 3px
	border-radius: 10px
	text-align: center
	position: relative
	outline: none
	transition: background-color .25s ease
	cursor: pointer
	&::after
		transition: background-color .25s ease
		position: absolute
		content: ''
		height: 4px
		bottom: 0
		width: 100%
		background-color: darken($accent, 50%)
		opacity: .18
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px
		left: 0
	&:focus, &:hover
		text-decoration: none
		color: $blackColor
	&:hover
		background-color: lighten(#e9e9e9, 5%)
		&::after
			opacity: .22
	// &:active
	// 	background-color: darken($accent, 5%)
	// 	&::after
	// 		opacity: .32

.main-content-flex
	display: flex
	position: relative
	min-height: 100vh
	//height: 100vh
	top: 0

.flex-center
	margin: auto

.content-composition
	color: #fff
	font-size: 20px
	font-family: AmadeusAP
	text-align: center
	position: relative
	p
		font-size: 24px

.welcome
	height: 1px
	width: 100%
	position: relative
	background-color: #fff
	display: inline-block
	h1
		font-family: Shablon
		font-size: 36px
		line-height: 3
		margin-top: 0
		border-bottom: 1px solid #fff
		white-space: nowrap

.quotes
	text-align: left
	margin-top: 60px
	margin-bottom: 0

.author-quotes
	text-align: right
	margin-top: 0
	margin-bottom: 40px

// Социальные ссылки справа
.header-socials
	position: fixed
	display: flex
	right: 0
	height: 100%
	background-color: rgba(#000, .65)
	border-left: rgba(#fff, .1) 1px solid
	top: 0
	padding: 0 7px

.soc
	margin: auto

	ul, li
		margin: 0
		padding: 0
		list-style-type: none		
	a
		color: #fff
		font-size: 32px
		display: block
		height: 50px
		width: 50px
		text-align: center
		margin: 18px 0
		line-height: 52px
		border-radius: 20px
		text-decoration: none
		transition: background-color .25s ease
		&:hover
			background-color: rgba(#fff, .4)

.logo-div
	position: relative
	bottom: 45px

.logo
	background-image: url('../img/_src/Logo.svg')
	background-repeat: no-repeat
	background-size: 450px
	background-position: center
	height: 370px

// blog.html

body
	font-size: 16px
	
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	color: $text
	&.isblog
		.main-page
			min-height: 100vh
			background-repeat: repeat-y
			background-color: $dark
			position: relative
			background-size: 100%
			background-position: center
			.top-line
				padding-top: 40px
				position: absolute
				width: 100%
				z-index: 3

.blog-header
	display: flex
	line-height: 1
	justify-content: center
	align-items: center
	margin-bottom: 10px

.blog-header-logo
	display: flex
	align-items: center
	justify-content: center
	font-family: "Playfair Display", Georgia, "Times New Roman", serif
	font-size: 2.25rem
	img
		margin-top: 20px
		width: 300px

.blog-post
	border: 1px solid #dee2e6
	border-radius: .25rem
	border-color: #272727
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
	background-color: #181515
	margin-bottom: 25px
	>h2
		color: #FFFFFF //d6d6d6
	>h2, p
		margin: 10px

.blog-post-title
	margin-bottom: .25rem
	font-size: 2.5rem

.blog-post-meta
    margin-bottom: 1.25rem
    color: #d6d6d6

.pagination
	display: flex
    padding-left: 0
    list-style: none
	border-radius: 0.25rem
	margin-bottom: 20px

.blog-sidebar
	border: 1px solid #dee2e6
	border-radius: .25rem
	border-color: #272727
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
	background-color: #181515
	margin-bottom: 25px
	padding: 10px
	h4
		text-align: center
		font-size: 22px
	ul
		list-style-type: none
		text-align: center
	hr
		margin-bottom: 10px
//Перенаправление на другую страницу
.page-link
	position: relative
	display: block
	padding: 0.7rem 1.1rem
	margin-left: 15px
	line-height: 1.4
	color: #FFFFFF
	background-color: #1f1f1f
	border-radius: 0.2rem
	font-weight: 600
	font-size: 18px
	&:hover
		background: #3f3f3f

.page_next, .page_previous
	position: relative
	display: block
	padding: 0.7rem 1.1rem
	font-size: 18px
	margin-left: 15px
	line-height: 1.4
	color: #f53900
	background-color: #130f10
	border: 2px solid #f53900
	border-radius: 0.2rem
	font-weight: 600
	&:hover
		background: #3f3f3f

.page-active
	color: #130f10
	background-color: #f53900

.display-4
	line-height: 1.4
    font-size: 3rem

.jumbotron
	margin: 20px 0 2rem 0

//Баннер
.homeBannerImg
	border: 2px solid #dee2e6
	border-radius: .25rem
	border-color: #272323
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
	background-color: #181515
    border-radius: 5px
	width: 100%


//video.html

#video-gallery
	justify-content: center
	align-items: center
	img
		border: 3px solid #dee2e6
		border-radius: .25rem
		width: 350px
		height: 200px
		margin: 0 0 10px 10px
		&:hover
			background-color: #FFFFFF

@import "media"